* {
    margin: 0;
    padding: 0;
    line-height: normal; /*antd로 부터 받아온 속성*/
}
html,
body,
#root,
#root > div {
    height: 100%;
}
/*
Q.

body에 길이 100%를 줄 때 
이렇게 주셨는데 왜 #root를 써야 하나요? 어쩌다가 클래스 명이 루트가 된건가요?

A. 

#root같은 경우는 react에서 자동으로 만들어주는 div 태그라고 보시면 됩니다!
개발자도구에서 html 요소들을 확인해보면, id가 root인 div 
태그가 포함되어 있습니다. 
그래서 body 태그의 최상위 자식으로 있는 #root 
태그에도 height를 줘서 우리가 코딩하는 컴포넌트는 
부모가 100%인 상태로 시작할 수 있어서 높이 조절이 자유롭다는 장점이 있습니다.
*/

#header {
    height: 64px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
}

#header-area {
    width: 1024px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*#header-area > img {
    상위 선택자로 지금 Link가 걸려있다. 그래서 아래처럼 
    자식 전체 중의 구분하는 방식으로 사용한다. */
#header-area img {
    width: 128px;
    height: 36px;
}

#body {
    height: 100vh;
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 24px;
}

#footer {
    height: 200px;
    background-color: rgb(230, 230, 230);
}
